.top-div {
    width: 100%;
}

.left-div {
    float:left;
    width: 30%;
}

.right-div {
    float:right;
    width: 70%;
}

.removeItem {
  color: red;
  vertical-align: top;
  padding: 4px;
}

.listItem {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #666;
  vertical-align: top;
}